{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container-fluid">
    <div class="card">
      <div class="card-header">Add New To Do List Item</div>
          <div class="card-body">
              <form action="" method="post">
                <div class="row">
                  <div class="input-group col-4">
                      <label class="sr-only">To Do item title</label>
                      <input type="text" class="form-control" id="NewItemTitle" name="NewToDoItem" placeholder="Enter To Do item here" required>
                  </div>
                  <div class="input-group-append col-4">
                        <button type="submit" class="btn btn-success" >Add Item</button>&nbsp;&nbsp;
                        <button type="reset" class="btn btn-danger"  >Reset</button>
                  </div>
                </div>
              </form>
          </div>
      </div>

    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card border-primary">
          <div class="card-header" style="color: rgb(0, 0, 0);font-size: 1.5rem;background-color: #24119c; padding: 3px;" align="center">ToDo List</div>
          <div class="card-body">        
            {% for item in view_model.todo_items %}
                      
                {{item.card_name}}              
                <a href="{{ url_for('move_item_to_in_progress', id=item.id) }}" class="btn btn-primary float-right">Mark as In Progress</a>
                <br><br>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-warning">
          <div class="card-header" style="color: #000000; font-size: 1.5rem; background-color: sandybrown;padding: 3px;" align="center">Doing List</div>
          <div class="card-body">        
            {% for item in view_model.doing_items %}          
              {{item.card_name}}          
              <a href="{{ url_for('move_item_to_done', id=item.id) }}" class="btn btn-success float-right">Mark as Done</a>
              <br><br>
            {% endfor %}          
          </div>
        </div>
      </div>
      <div class="col-sm-4">    
        <div class="card border-success">
          <div class="card-header" style="color: rgb(0, 0, 0);font-size: 1.5rem; background-color: #037203; padding: 3px;" align="center">Done List</div>
            <div class="card-body">             
              {% if view_model.done_items | length <= 4 %}
                <details>
                  <summary>All Done Items</summary>  
                    <br>   
                    {% for item in view_model.show_all_done_items %}
                      {{item.card_name}}     
                      <a href="{{ url_for('move_item_todo', id=item.id) }}" class="btn btn-warning float-right" >Mark as ToDo</a>
                      <br><br>           
                    {% endfor %} 
                </details>
              {% else %}
                <details>
                  <summary>Recent Done Items</summary> 
                    <br>    
                    {% for item in view_model.recent_done_items %}
                      {{item.card_name}}     
                      <a href="{{ url_for('move_item_todo', id=item.id) }}" class="btn btn-warning float-right" >Mark as ToDo</a>
                      <br><br>           
                    {% endfor %} 
                </details>
                <details>
                  <summary>Older Done Items</summary>  
                    <br>    
                    {% for item in view_model.older_done_items %}
                      {{item.card_name}}     
                      <a href="{{ url_for('move_item_todo', id=item.id) }}" class="btn btn-warning float-right" >Mark as ToDo</a>
                      <br><br>           
                    {% endfor %} 
                </details>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
{% endblock %}