{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container-fluid">
    <div class="card">
      <div class="card-header">Add New To DO List Item</div>
          <div class="card-body">
              <form action="" method="post">
                <div class="row">
                  <div class="input-group col-4">
                      <label class="sr-only">To DO item title</label>
                      <input type="text" class="form-control" id="NewItemTitle" name="NewToDoItem" placeholder="Enter To Do item here" required>
                  </div>
                  <div class="input-group-append col-4">
                        <button type="submit" class="btn btn-success" >Add Item</button>&nbsp;&nbsp;
                        <button type="reset" class="btn btn-danger"  >Reset</button>
                  </div>
                </div>
              </form>
          </div>
      </div>

    <br>
    <div class="card">
      <div class="card-header" align="center">To Do List</div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <caption id="tcaption" style="color:#005B82"></caption>
          <thead class="thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for item in items %}
          <tr>
            <td>{{item['name']}}</td>
            <td>
              {% if item.idList == "5f67595969bcd66cadc9b3a7" %}
                <h5 style="color:blue;">Not Started</h5>
              {% elif item.idList == "5f67595969bcd66cadc9b3a8" %}
                <h5 style="color:orange;">In Progress</h5>
              {% else %}
                <h5 style="color:green;">Done</h5>
              {% endif %}
            </td>
            <td>
              {% if item.idList == "5f67595969bcd66cadc9b3a7" %}
                <a href="{{ url_for('move_item_to_inprogress', id=item.id) }}" class="btn btn-primary">Mark as In Progress</a>
                <a href="{{ url_for('move_item_to_done', id=item.id) }}" class="btn btn-success">Mark as Done</a>
              {% elif item.idList == "5f67595969bcd66cadc9b3a8" %}
                <a href="{{ url_for('move_item_to_done', id=item.id) }}" class="btn btn-success">Mark as Done</a>
              {% else %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}